node_modules
dist
test/temp
bower_components
.tmp
test/bower_components/
images/
app/images/
app/.idea/
app/.htaccess
app/favicon*
gulpfile.js
package.json
wct.conf.js
bower.json
.editorconfig
.jscsrc
.jshintrc

